* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'eleme';
  src: url('../font/eleme.woff');
}
.hide{
  display: none;
}
/*测试*/
body{
  height: 2000px;
}
/*头部导航-start*/

.header {
  background-color: #1e89e0;
  min-width: 960px;
  height: 60px;
}

.nav {
  width: 960px;
  margin: 0 auto;
  height: 60px;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.header a {
  height: 60px;
  line-height: 60px;
  width: 106px;
  vertical-align: top;
}

[class*='icon-'] {
  font-family: 'eleme';
  font-weight: 400;
  font-style: normal;
}

[class*='icon-']:before {
  font-size: 22px;
  vertical-align: top;
  /* 字体平滑 */
  -webkit-font-smoothing: antialiased;
}

.title {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 130px;
}

.title:before {
  content: '\e92c';
  color: white;
  font-size: 32px;
}

.title span {
  height: 0;
  display: inline-block;
  overflow: hidden;
}

a.home {
  width: 112px;
}

.icon-login {
  float: right;
}

.icon-login:before {
  content: '\e945';
  width: 26px;
  height: 26px;
}

.top-bar-right {
  font-size: 14px;
  float: right;
  width: 500px;
}

.icon-service:before {
  content: '\e94a';
}

.icon-app:before {
  content: "\e92e";
}

.icon-service, .rules, .icon-app {
  color: #d2e7f9;
}

.icon-service:hover, .rules:hover, .icon-app:hover, .icon-back-top:hover {
  color: white;
}

.header a.active {
  background-color: #006bc7;
}

.header a[class*='orders']:hover {
  background-color: #0c77d1;
}


/*头部导航-end*/


/*侧边栏-start*/

.sideBar {
  width: 330px;
  height: 100%;
  min-height: 400px;
  position: fixed;
  right: -295px;
  top: 0;
  z-index: 999;
  display: flex;
  transition: right 0.5s;
}


/*使用动画控制侧边栏*/


/*.sideBar-hide {
  animation: 0.5s hideshopping forwards;
}

.sideBar-show {
  animation: 0.5s showshopping forwards;
}

@keyframes hideshopping {
  from {
    right: 0;
  }
  to {
    right: -295px;
  }
}

@keyframes showshopping {
  from {
    right: -295px;
  }
  to {
    right: 0;
  }
}*/


/*使用动画控制侧边栏——end*/


/*使用过渡控制侧边栏——start*/

.sideBar-show {
  right: 0;
}

.sideBar-hide {
  right: -295px;
}


/*使用过渡控制侧边栏——end*/

.sideBar-tab {
  width: 35px;
  display: flex;
  height: 100%;
  background-color: #504d53;
  flex-direction: column;
}

.sideBar-content {
  height: 100%;
  flex: 1;
  background-color: #e6e6e6;
}

.sideBar-tab-nav {
  height: 200px;
  flex: 6;
  display: flex;
  align-items: center;
}

.sideBar-tab-bottom {
  flex: 1;
  position: relative;
}

.sideBar-tab-nav a {
  width: 35px;
  padding: 8px 0;
}

.sideBar-tab-content {
  height: 320px;
}

.icon-sidebar-orders:before {
  content: '\e93c';
}

.icon-sidebar-shop:before {
  content: '\e908';
}

.icon-sidebar-info:before {
  content: '\e92f';
}

.icon-sidebar-code:before {
  content: '\e946';
}

.sideBar-tab [class*='icon-sidebar']:before {
  font-size: 20px;
}

.sideBar-line {
  border-top: 1px solid #737074;
  height: 0;
  margin: 5px 6px;
}

.sideBar-shop {
  color: #ccc;
  font-size: 14px;
}

.back-top-box{
  position: relative;
}
/*侧边栏内容盒——start*/

.sideBar-title {
  width: 295;
  height: 35px;
  padding: 5px 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.sideBar-title a {
  color: #000;
  font-size: 16px;
}

.sideBar-title a:hover {
  text-decoration: underline;
}

.sideBar-title span:before {
  content: '\e902';
  font-size: 16px;
}

.sideBar-title span {
  float: right;
  cursor: pointer;
  line-height: 20px;
  margin-left: 15px;
  color: #666;
}

.shopping {
  padding: 5px 10px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.icon-history:before {
  content: '\e920';
  font-size: 50px;
}

.icon-history {
  color: #999;
  margin: 30px auto 20px;
  display: block;
}

.shopping-h3 {
  font-weight: 400;
  font-size: 18px;
}

.shopping-span {
  color: #999;
  font-size: 12px;
}


/*侧边栏内容盒——end*/

.side-orders-box, .side-info-box {
  position: relative;
}

.sideBar-qr-code {
  text-align: center;
  padding: 5px 0;
  color: #ccc;
  height: 24px;
}

.icon-sidebar-orders:hover, .icon-sidebar-shop:hover, .sideBar-qr-code:hover, .icon-sidebar-info:hover, .icon-back-top:hover {
  background-color: #26a2ff;
  color: #fff;
}

.icon-sidebar-orders, .icon-sidebar-info, .icon-back-top {
  color: #ccc;
}

.icon-sidebar-shop span {
  display: inline-block;
  width: 20px;
  line-height: 16px;
}


/*侧边栏-左侧浮层*/

.layer-tip-left {
  position: absolute;
  left: -80px;
  width: 64px;
  top: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(8, 8, 8, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.layer-tip-left::before {
  content: '';
  position: absolute;
  left: 74px;
  top: 9px;
  opacity: 1;
  box-sizing: border-box;
  /*以下箭头样式*/
  height: 6px;
  width: 6px;
  border-left: 6px solid rgba(8, 8, 8, 0.5);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
}


/*侧边栏-右侧浮层*/

.layer-tip-right {
  position: absolute;
  right: -36px;
  width: 20px;
  top: -20px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(8, 8, 8, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.layer-tip-right::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 34px;
  opacity: 1;
  /*以下箭头样式*/
  box-sizing: border-box;
  height: 6px;
  width: 6px;
  border-right: 6px solid rgba(8, 8, 8, 0.5);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}


/*侧边栏二维码*/

.layer-tip-qr-code {
  position: absolute;
  left: -140px;
  top: -154px;
  padding: 2px 5px;
  line-height: 24px;
  z-index: 9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.layer-tip-qr-code::before {
  content: '';
  position: absolute;
  /*以下箭头样式*/
  box-sizing: border-box;
  height: 6px;
  width: 6px;
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  left: 140px;
  top: 165px;
}

.layer-tip-qr-code img {
  width: 130px;
  height: 130px;
}

.qr-tip {
  font-size: 16px;
  color: #0089dc;
}

.qr-tip-bottom {
  font-size: 12px;
  color: #f63;
}


/*回到顶部*/

.sideBar-back-top {
  text-align: center;
  height: 22px;
  padding: 6px 0;
  margin-top: 10px;
}

.sideBar-back-top::before {
  content: "\e951";
}


/*侧边栏-end*/


/*侧边栏——媒体查询——只保留购物车图标和回到顶部图标*/

@media (max-height: 520px) {
  .side-orders-box, .sideBar-line, .side-info-box, .sideBar-qr-code {
    display: none;
  }
}
